@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #000dff;
}

body {
  margin: 0;
  width: 100%;
  display: block;
  align-items: center;
  background-color: #272727;
  min-width: 500px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: auto auto;
text-align: center;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

